In [1]:

import numpy as np
import pandas as pd

In [2]:
!pwd

/home/nperla_umassd_edu/Documents/RohlikForecasting

# Reading Data

In [3]:
train_set = pd.read_csv('data/train.csv')
train_set

,warehouse,date,orders,holiday_name,holiday,shutdown,mini_shutdown,shops_closed,winter_school_holidays,school_holidays,blackout,mov_change,frankfurt_shutdown,precipitation,snow,user_activity_1,user_activity_2,id
0,Prague_1,2020-12-05,6895.0,NaN,0,0,0,0,0,0,0,0.0,0,0.00,0.0,1722.0,32575.0,Prague_1_2020-12-05
1,Prague_1,2020-12-06,6584.0,NaN,0,0,0,0,0,0,0,0.0,0,0.00,0.0,1688.0,32507.0,Prague_1_2020-12-06
2,Prague_1,2020-12-07,7030.0,NaN,0,0,0,0,0,0,0,0.0,0,0.00,0.0,1696.0,32552.0,Prague_1_2020-12-07
3,Prague_1,2020-12-08,6550.0,NaN,0,0,0,0,0,0,0,0.0,0,0.80,0.0,1681.0,32423.0,Prague_1_2020-12-08
4,Prague_1,2020-12-09,6910.0,NaN,0,0,0,0,0,0,0,0.0,0,0.50,0.0,1704.0,32410.0,Prague_1_2020-12-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7335,Budapest_1,2024-03-10,6733.0,NaN,0,0,0,0,0,0,0,0.0,0,1.51,0.0,2983.0,27111.0,Budapest_1_2024-03-10
7336,Budapest_1,2024-03-11,6492.0,NaN,0,0,0,0,0,0,0,0.0,0,1.03,0.0,2975.0,27133.0,Budapest_1_2024-03-11
7337,Budapest_1,2024-03-12,6661.0,NaN,0,0,0,0,0,0,0,0.0,0,0.21,0.0,2974.0,27151.0,Budapest_1_2024-03-12
7338,Budapest_1,2024-03-13,6843.0,NaN,0,0,0,0,0,0,0,0.0,0,0.00,0.0,2979.0,27180.0,Budapest_1_2024-03-13
7339,Budapest_1,2024-03-14,8130.0,NaN,0,0,0,0,0,0,0,0.0,0,0.00,0.0,2953.0,27231.0,Budapest_1_2024-03-14

- **ID: warehouse_date**

In [4]:
train_calender = pd.read_csv('data/train_calendar.csv')
train_calender

,date,holiday_name,holiday,shutdown,mini_shutdown,warehouse_limited,shops_closed,winter_school_holidays,school_holidays,blackout,mov_change,frankfurt_shutdown,precipitation,snow,warehouse
0,2022-03-09,NaN,0,0,0,0,0,1,0,0,0.0,0,0.00,0.0,Prague_1
1,2019-07-03,NaN,0,0,0,0,0,0,0,0,0.0,0,0.00,0.0,Prague_1
2,2020-05-18,NaN,0,0,0,0,0,0,0,0,0.0,0,0.00,0.0,Prague_1
3,2021-11-09,NaN,0,0,0,0,0,0,0,0,0.0,0,0.00,0.0,Prague_1
4,2023-08-02,NaN,0,0,0,0,0,0,0,0,0.0,0,2.50,0.0,Prague_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13302,2019-09-09,NaN,0,0,0,0,0,0,0,0,0.0,0,14.20,0.0,Budapest_1
13303,2020-10-26,NaN,0,0,0,0,0,0,0,0,0.0,0,10.70,0.0,Budapest_1
13304,2020-04-30,NaN,0,0,0,0,0,0,0,0,0.0,0,8.60,0.0,Budapest_1
13305,2021-04-03,NaN,1,0,0,0,0,0,0,0,0.0,0,0.00,0.0,Budapest_1
13306,2023-04-08,NaN,1,0,0,0,0,1,0,0,0.7,0,0.22,0.1,Budapest_1

## Missing Values

In [5]:
train_set.isnull().sum() / len(train_set)

warehouse                 0.000000
date                      0.000000
orders                    0.000000
holiday_name              0.970300
holiday                   0.000000
shutdown                  0.000000
mini_shutdown             0.000000
shops_closed              0.000000
winter_school_holidays    0.000000
school_holidays           0.000000
blackout                  0.000000
mov_change                0.000000
frankfurt_shutdown        0.000000
precipitation             0.036785
snow                      0.036785
user_activity_1           0.000000
user_activity_2           0.000000
id                        0.000000
dtype: float64

- **97% of the values in holiday_name column have missing values**

In [6]:
train_calender.isnull().sum() / len(train_calender)

date                      0.000000
holiday_name              0.957691
holiday                   0.000000
shutdown                  0.000000
mini_shutdown             0.000000
warehouse_limited         0.000000
shops_closed              0.000000
winter_school_holidays    0.000000
school_holidays           0.000000
blackout                  0.000000
mov_change                0.000000
frankfurt_shutdown        0.000000
precipitation             0.158413
snow                      0.158413
warehouse                 0.000000
dtype: float64

- **96% of the values in holiday_name are nulls**

In [7]:
test_set = pd.read_csv('data/test.csv')
test_set.head()

,warehouse,date,holiday_name,holiday,shops_closed,winter_school_holidays,school_holidays,id
0,Prague_1,2024-03-16,NaN,0,0,0,0,Prague_1_2024-03-16
1,Prague_1,2024-03-17,NaN,0,0,0,0,Prague_1_2024-03-17
2,Prague_1,2024-03-18,NaN,0,0,0,0,Prague_1_2024-03-18
3,Prague_1,2024-03-19,NaN,0,0,0,0,Prague_1_2024-03-19
4,Prague_1,2024-03-20,NaN,0,0,0,0,Prague_1_2024-03-20

In [8]:
test_set.isnull().sum() / len(test_set)

warehouse                 0.000000
date                      0.000000
holiday_name              0.957179
holiday                   0.000000
shops_closed              0.000000
winter_school_holidays    0.000000
school_holidays           0.000000
id                        0.000000
dtype: float64

In [9]:
test_calender = pd.read_csv('data/test_calendar.csv')
test_calender

,date,holiday_name,holiday,shops_closed,winter_school_holidays,school_holidays,warehouse
0,2024-11-17,Den boje za svobodu a demokracii,1,0,0,0,Prague_1
1,2024-07-04,NaN,0,0,0,0,Prague_1
2,2024-08-04,NaN,0,0,0,0,Prague_1
3,2024-12-01,NaN,0,0,0,0,Prague_1
4,2024-07-24,NaN,0,0,0,0,Prague_1
...,...,...,...,...,...,...,...
1864,2024-08-16,NaN,0,0,0,0,Budapest_1
1865,2024-08-20,State Foundation Day,1,1,0,0,Budapest_1
1866,2024-03-16,NaN,0,0,0,0,Budapest_1
1867,2024-05-21,National Defense Day,0,0,0,0,Budapest_1
1868,2024-05-17,NaN,0,0,0,0,Budapest_1

In [10]:
test_calender.isnull().sum() / len(test_calender)

date                      0.000000
holiday_name              0.963082
holiday                   0.000000
shops_closed              0.000000
winter_school_holidays    0.000000
school_holidays           0.000000
warehouse                 0.000000
dtype: float64

- **Removing holiday_name columns as holiday column captures the same information.**

- **Dropping columns not in test set**

In [11]:
train_set.columns

Index(['warehouse', 'date', 'orders', 'holiday_name', 'holiday', 'shutdown',
       'mini_shutdown', 'shops_closed', 'winter_school_holidays',
       'school_holidays', 'blackout', 'mov_change', 'frankfurt_shutdown',
       'precipitation', 'snow', 'user_activity_1', 'user_activity_2', 'id'],
      dtype='object')

In [12]:
test_set.columns

Index(['warehouse', 'date', 'holiday_name', 'holiday', 'shops_closed',
       'winter_school_holidays', 'school_holidays', 'id'],
      dtype='object')

In [13]:
train_set = train_set[list(test_set.columns)]
train_set

,warehouse,date,holiday_name,holiday,shops_closed,winter_school_holidays,school_holidays,id
0,Prague_1,2020-12-05,NaN,0,0,0,0,Prague_1_2020-12-05
1,Prague_1,2020-12-06,NaN,0,0,0,0,Prague_1_2020-12-06
2,Prague_1,2020-12-07,NaN,0,0,0,0,Prague_1_2020-12-07
3,Prague_1,2020-12-08,NaN,0,0,0,0,Prague_1_2020-12-08
4,Prague_1,2020-12-09,NaN,0,0,0,0,Prague_1_2020-12-09
...,...,...,...,...,...,...,...,...
7335,Budapest_1,2024-03-10,NaN,0,0,0,0,Budapest_1_2024-03-10
7336,Budapest_1,2024-03-11,NaN,0,0,0,0,Budapest_1_2024-03-11
7337,Budapest_1,2024-03-12,NaN,0,0,0,0,Budapest_1_2024-03-12
7338,Budapest_1,2024-03-13,NaN,0,0,0,0,Budapest_1_2024-03-13
7339,Budapest_1,2024-03-14,NaN,0,0,0,0,Budapest_1_2024-03-14

In [14]:
train_set = train_set.drop(['holiday_name', 'id'], axis=1)
train_set

,warehouse,date,holiday,shops_closed,winter_school_holidays,school_holidays
0,Prague_1,2020-12-05,0,0,0,0
1,Prague_1,2020-12-06,0,0,0,0
2,Prague_1,2020-12-07,0,0,0,0
3,Prague_1,2020-12-08,0,0,0,0
4,Prague_1,2020-12-09,0,0,0,0
...,...,...,...,...,...,...
7335,Budapest_1,2024-03-10,0,0,0,0
7336,Budapest_1,2024-03-11,0,0,0,0
7337,Budapest_1,2024-03-12,0,0,0,0
7338,Budapest_1,2024-03-13,0,0,0,0
7339,Budapest_1,2024-03-14,0,0,0,0

In [15]:
test_set = test_set.drop(['holiday_name', 'id'], axis=1)
test_set

,warehouse,date,holiday,shops_closed,winter_school_holidays,school_holidays
0,Prague_1,2024-03-16,0,0,0,0
1,Prague_1,2024-03-17,0,0,0,0
2,Prague_1,2024-03-18,0,0,0,0
3,Prague_1,2024-03-19,0,0,0,0
4,Prague_1,2024-03-20,0,0,0,0
...,...,...,...,...,...,...
392,Budapest_1,2024-05-11,0,0,0,0
393,Budapest_1,2024-05-12,0,0,0,0
394,Budapest_1,2024-05-13,0,0,0,0
395,Budapest_1,2024-05-14,0,0,0,0
396,Budapest_1,2024-05-15,0,0,0,0

## Preprocessing

In [16]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7340 entries, 0 to 7339
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   warehouse               7340 non-null   object
 1   date                    7340 non-null   object
 2   holiday                 7340 non-null   int64
 3   shops_closed            7340 non-null   int64
 4   winter_school_holidays  7340 non-null   int64
 5   school_holidays         7340 non-null   int64
dtypes: int64(4), object(2)
memory usage: 344.2+ KB

# Encoding categorical features

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train_set['warehouse'] = le.fit_transform(train_set['warehouse'])
test_set['warehouse'] = le.transform(test_set['warehouse'])

In [18]:
train_set.head()

,warehouse,date,holiday,shops_closed,winter_school_holidays,school_holidays
0,4,2020-12-05,0,0,0,0
1,4,2020-12-06,0,0,0,0
2,4,2020-12-07,0,0,0,0
3,4,2020-12-08,0,0,0,0
4,4,2020-12-09,0,0,0,0

In [19]:
test_set.head()

,warehouse,date,holiday,shops_closed,winter_school_holidays,school_holidays
0,4,2024-03-16,0,0,0,0
1,4,2024-03-17,0,0,0,0
2,4,2024-03-18,0,0,0,0
3,4,2024-03-19,0,0,0,0
4,4,2024-03-20,0,0,0,0

In [20]:
def preprocessing(data):
    
    data['date'] = pd.to_datetime(data['date'])
    data['day'] = data['date'].dt.day
    data['month'] = data['date'].dt.month
    data['year'] = data['date'].dt.year
    
    data['day_of_week'] = data['date'].dt.dayofweek
    data['week_of_year'] = data['date'].dt.isocalendar().week
    data['is_weekend'] = data['day_of_week'].isin([5, 6]).astype(int)
    data['is_holiday'] = data['holiday'].astype(int)
    data['quarter'] = data['date'].dt.quarter
    
    return data

In [21]:
train_set = preprocessing(train_set)
test_set = preprocessing(test_set)

In [22]:
train_set.head()

,warehouse,date,holiday,shops_closed,winter_school_holidays,school_holidays,day,month,year,day_of_week,week_of_year,is_weekend,is_holiday,quarter
0,4,2020-12-05,0,0,0,0,5,12,2020,5,49,1,0,4
1,4,2020-12-06,0,0,0,0,6,12,2020,6,49,1,0,4
2,4,2020-12-07,0,0,0,0,7,12,2020,0,50,0,0,4
3,4,2020-12-08,0,0,0,0,8,12,2020,1,50,0,0,4
4,4,2020-12-09,0,0,0,0,9,12,2020,2,50,0,0,4

In [23]:
test_set.head()

,warehouse,date,holiday,shops_closed,winter_school_holidays,school_holidays,day,month,year,day_of_week,week_of_year,is_weekend,is_holiday,quarter
0,4,2024-03-16,0,0,0,0,16,3,2024,5,11,1,0,1
1,4,2024-03-17,0,0,0,0,17,3,2024,6,11,1,0,1
2,4,2024-03-18,0,0,0,0,18,3,2024,0,12,0,0,1
3,4,2024-03-19,0,0,0,0,19,3,2024,1,12,0,0,1
4,4,2024-03-20,0,0,0,0,20,3,2024,2,12,0,0,1

In [24]:
train_set.to_csv('data/processed/train_set_processed.csv', index=False)
test_set.to_csv('data/processed/test_set_processed.csv', index=False)

# Loading Dataset, DatasetLoader

In [25]:
# from TSForecasting.data_provider.data_loader import Dataset_Custom
# 
# custom_train_dataset = Dataset_Custom(root_path='.', data_path='data/processed/train_set_processed.csv',
#                                 target='orders', features='MS', flag='train')

In [25]:
args = {'root_path': '.', 'train_data_path': 'data/processed/train_set_processed.csv',
        'test_data_path': 'data/processed/test_set_processed.csv', 'test_flag': 'test',
        'train_flag': 'train', 'features': 'MS', 'target': 'orders', 'data': 'custom', 
        'batch_size': 16, 'freq': 'd', 'seq_len': 96, 'label_len': 48, 'pred_len': 1, 
        'embed': 'timeF'}

In [26]:
from TSForecasting.data_provider.data_factory import data_provider

train_dataset, train_loader = data_provider(root_path=args['root_path'], data_path=args['train_data_path'], 
                                            flag=args['train_flag'], features=args['features'], 
                                            target=args['target'], data=args['data'], 
                                            batch_size=args['batch_size'], freq=args['freq'],
                                            seq_len=args['seq_len'], label_len=args['label_len'],
                                            pred_len=args['pred_len'], embed=args['embed'])

Mode: train; datapath: data/processed/train_set_processed.csv, flag: train; features: MS, target: orders, data: custom, batch_size: 16, freq: d, seq_len: 96, label_len: 48, pred_len: 1, embed: timeF
train 5042

In [27]:
print(args)

{'root_path': '.', 'train_data_path': 'data/processed/train_set_processed.csv', 'test_data_path': 'data/processed/test_set_processed.csv', 'test_flag': 'test', 'train_flag': 'train', 'features': 'MS', 'target': 'orders', 'data': 'custom', 'batch_size': 16, 'freq': 'd', 'seq_len': 96, 'label_len': 48, 'pred_len': 1, 'embed': 'timeF'}

In [28]:
model_args = {
    'enc_in': 14, 'seq_len': args['seq_len'], 'pred_len': args['pred_len'], 'e_layers': 6, 
    'd_model': 64, 'd_ff': 256, 'dropout': 0.05,
    'head_dropout': 0.0, 'patch_ks': 8, 'patch_sd': 4, 'padding_patch': 'end', 'revin': 1, 'affine': 0,
    'subtract_last': 0, 'dw_ks': [1, 3, 5, 7, 9, 11], 're_param': 1, 're_param_kernel': 3, 
    'enable_res_param': 1, 'norm': 'batch', 'act': "gelu", 'head_type': 'flatten'
}

# 'dw_ks': [11,15,21,29,39,51]

In [29]:
# from TSForecasting.utils.tools import EarlyStopping
# 
# train_steps = len(train_loader)
# early_stopping = EarlyStopping(patience=3, verbose=True)

In [30]:
# from TSForecasting.models.ConvTimeNet import Model
# from torch import nn, optim
# 
# model = Model(enc_in=model_args['enc_in'], seq_len=model_args['seq_len'], pred_len=model_args['pred_len'],
#               e_layers=model_args['e_layers'], d_model=model_args['d_model'], d_ff=model_args['d_ff'],
#               dropout=model_args['dropout'], head_dropout=model_args['head_dropout'], 
#               patch_ks=model_args['patch_ks'], patch_sd=model_args['patch_sd'], 
#               padding_patch=model_args['padding_patch'], revin=model_args['revin'], 
#               affine=model_args['affine'], subtract_last=model_args['subtract_last'], 
#               dw_ks=model_args['dw_ks'], re_param=model_args['re_param'], 
#               re_param_kernel=model_args['re_param_kernel'], 
#               enable_res_param=model_args['enable_res_param'])
# 
# model_optim = optim.Adam(model.parameters(), lr=0.0001)
# criterion = nn.MSELoss()

In [31]:
# import time
# import torch
# 
# device = 'cuda'
# use_amp = True
# features = 'MS'
# pred_len = 96
# 
# time_now = time.time()
# 
# if use_amp:
#     scaler = torch.cuda.amp.GradScaler()
#             
# train_epochs = 2
# model.to(device)
# for epoch in range(train_epochs):
#     iter_count = 0
#     train_loss = []
#     
#     model.train()
#     epoch_time = time.time()
#     for i, (batch_x, batch_y, _, _) in enumerate(train_loader):
#         iter_count += 1
#         model_optim.zero_grad()
#         
#         # batch_x = batch_x.float().to(device)
#         # batch_y = batch_y.float().to(device)
#         batch_x = torch.tensor(batch_x, dtype=torch.float32).to(device)
#         batch_y = torch.tensor(batch_y, dtype=torch.float32).to(device)
#         
#         # encoder - decoder
#         if use_amp:
#             with torch.cuda.amp.autocast():
#                 outputs = model(batch_x)
# 
#                 f_dim = -1 if features == 'MS' else 0
#                 outputs = outputs[:, -pred_len:, f_dim:]
#                 batch_y = batch_y[:, -pred_len:, f_dim:].to(device)
#                 loss = criterion(outputs, batch_y)
#                 train_loss.append(loss.item())
#         else:
#             outputs = model(batch_x)
#             # print(outputs.shape,batch_y.shape)
#             f_dim = -1 if features == 'MS' else 0
#             outputs = outputs[:, -pred_len:, f_dim:]
#             batch_y = batch_y[:, -pred_len:, f_dim:].to(device)
#             loss = criterion(outputs, batch_y)
#             train_loss.append(loss.item())
#             
#         if (i + 1) % 100 == 0:
#             print("\titers: {0}, epoch: {1} | loss: {2:.7f}".format(i + 1, epoch + 1, loss.item()))
#             speed = (time.time() - time_now) / iter_count
#             left_time = speed * ((train_epochs - epoch) * train_steps - i)
#             print('\tspeed: {:.4f}s/iter; left time: {:.4f}s'.format(speed, left_time))
#             iter_count = 0
#             time_now = time.time()
# 
#         if use_amp:
#             scaler.scale(loss).backward()
#             scaler.step(model_optim)
#             scaler.update()
#         else:
#             loss.backward()
#             model_optim.step()
#     
#     print("Epoch: {} cost time: {}".format(epoch + 1, time.time() - epoch_time))
#     train_loss = np.average(train_loss)
#     # vali_loss = self.vali(vali_data, vali_loader, criterion)
#     # test_loss = self.vali(test_data, test_loader, criterion)
#     print("Epoch: {0}, Steps: {1} | Train Loss: {2:.7f}".format(epoch + 1, train_steps, train_loss))

In [32]:
print(args)

{'root_path': '.', 'train_data_path': 'data/processed/train_set_processed.csv', 'test_data_path': 'data/processed/test_set_processed.csv', 'test_flag': 'test', 'train_flag': 'train', 'features': 'MS', 'target': 'orders', 'data': 'custom', 'batch_size': 16, 'freq': 'd', 'seq_len': 96, 'label_len': 48, 'pred_len': 1, 'embed': 'timeF'}

# Making Predictions

In [33]:
# test_dataset, test_loader = data_provider(root_path=args['root_path'], data_path=args['test_data_path'], 
#                                           flag=args['test_flag'], features=args['features'],  
#                                           target=args['target'], data=args['data'], 
#                                           batch_size=args['batch_size'], freq=args['freq'],
#                                           seq_len=args['seq_len'], label_len=args['label_len'],
#                                           pred_len=args['pred_len'], embed=args['embed']
#                                           )

In [34]:
# preds = []
# trues = []
# inputx = []
# 
# model.eval()
# with torch.no_grad():
#     for i, (batch_x, batch_y, _, _) in enumerate(test_loader):
#         batch_x = batch_x.float().to(device)
#         batch_y = batch_y.float().to(device)
#         
#         if use_amp:
#             with torch.cuda.amp.autocast():
#                 outputs = model(batch_x)
#         else:
#             outputs = model(batch_x)
#         
#         f_dim = -1 if features == 'MS' else 0
#         # print(outputs.shape,batch_y.shape)
#         outputs = outputs[:, -args.pred_len:, f_dim:]
#         batch_y = batch_y[:, -args.pred_len:, f_dim:].to(device)
#         outputs = outputs.detach().cpu().numpy()
#         batch_y = batch_y.detach().cpu().numpy()
# 
#         pred = outputs  # outputs.detach().cpu().numpy()  # .squeeze()
#         true = batch_y  # batch_y.detach().cpu().numpy()  # .squeeze()
# 
#         preds.append(pred)
#         trues.append(true)
#         inputx.append(batch_x.detach().cpu().numpy())
#